
body {font-family: 'PT Sans', sans-serif;
}


img {
  float: left;
  padding-right: 10px;
  }

.container {width: 600px; 
    padding: 10px; 
    margin: auto;

       }

    .ava{    
    width: 45%;
    min-height: 150px;
   float: left;

        }
.text{    
    width: 45%;
    min-height: 150px;
    margin-left: 55%;

}

